<font size='6'>TUGAS *INTRODUCTION PYTHON*</font><br>
<font size='4'>(Tugas Pagi dan Sore)</font><br><br>

<font size='3'>
Muhammad Audri Indraputra<br>
Kelas Ragnarok<br>
Selasa, 1 Maret 2022<br></font>

---

<font size='6'>**TUGAS PAGI**

<font size='5'>Pyhton's Interactive Consolo : The Interpreter

In [1]:
print('Hello World!')

Hello World!

<font size='5'>Creating a String</font>

In [2]:
print('hello')
print()
print('This is also string')

hello

This is also string

<font size='5'>Variables : Store your Value in me!

In [3]:
s = 'New York'
print(s)
print(type(s))
print(len(s))

New York
<class 'str'>
8

<font size='5'>String Indexing

In [4]:
s = 'Hello World'
print(s)
print()
print(s[0])
print()
print(s[1])

Hello World

H

e

<font size='5'>String Concatenation and Repetition

In [5]:
# concatenation (addition)

s1 = 'Hello'
s2 = 'World'
print(s1 + " " + s2)

# repetition (multiplication)

print('Hello_' * 3)
print('-' * 10)

Hello World
Hello_Hello_Hello_
----------

<font size='5'>String Slicing & Indexing

In [6]:
s = 'Namaste World'

# print sub strings
print(s[1])
print(s[6:11])
print(s[-5:-1])

# test substring membership
print('Wor' in s)

a
e Wor
Worl
True

<font size='5'>Basic Built-In String methods

In [7]:
s = 'Hello World'

print(s.upper())
print(s.lower())

HELLO WORLD
hello world

<font size='5'>Print Formatting

In [8]:
name = 'Einstein'
age = 22
married = True

print('My name is %s, my age is %s, and it is %s that I am married' %(name, age, married))

print('My name is {}, my age is {}, and it is {} that I am married'.format(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married
My name is Einstein, my age is 22, and it is True that I am married

<font size='5'>Types of numbers

In [9]:
# Addition
print(2+1)

# subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

# Powers
print(2**3)

# Order of Operation followed in Python
print(2 + 10 * 10 + 3)

# Can use parenthesis to specify orders
print((2+10) * (10+3))

3
1
4
1.5
8
105
156

<font size='5'>Variable Assignments

In [10]:
# Let's create an object called 'a' and assign it the number 5
a = 5
print(a)

# Addition the objects
print(a+a)

# Reassingment
a = 10
print(a)

5
10
10

---

<font size='6'>**TUGAS SORE**

<font size='5'>Identifying Data Types

In [11]:
a = 42
b = 32.30

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

<font size='5'>Lists

In [12]:
my_list = [1,2,3]
print(my_list)

my_list = ['A string',23,100.232,'o']
print(my_list)

print(len(my_list))

[1, 2, 3]
['A string', 23, 100.232, 'o']
4

<font size='5'>Adding New Elements to a list

In [13]:
l = [1, 2.3, ['a', 'b'], 'New York']
print(l)

l.append(3.1)
print(l)

l = [1, 2, 3]
print(l)

l.extend([4, 5, 6])
print(l)

[1, 2.3, ['a', 'b'], 'New York']
[1, 2.3, ['a', 'b'], 'New York', 3.1]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]

<font size='5'>Slicing

In [14]:
lst = list(range(10))
print(lst)

print('elements from index 4 to 7:', lst[4:7])
print('alternate elements, starting at index 0:', lst[0::2])

print('every third element, starting at index 1:', lst[1::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]
every third element, starting at index 1: [1, 4, 7]

<font size='5'>Constructing a Dictionary

In [15]:
my_dict = {'key1':'value1','key2':'value2'}
print(my_dict['key2'])

my_dict['key1'] = 123
print(my_dict)

my_dict['key1'] = my_dict['key1'] - 123
print(my_dict['key1'])

my_dict['key1'] -= 123
print(my_dict['key1'])

d = {}
d['animal'] = 'Dog'
print(d)

value2
{'key1': 123, 'key2': 'value2'}
0
-123
{'animal': 'Dog'}

<font size='5'>Set and Booleans

In [16]:
x = set()
print(x)

x.add(1)
print(x)

x.add(2)
print(x)

x.add(1)
print(x)

l = [1,1,2,2,3,4,5,1,1]
print(l)
print(set(l))

set()
{1}
{1, 2}
{1, 2}
[1, 1, 2, 2, 3, 4, 5, 1, 1]
{1, 2, 3, 4, 5}